body {
    font-family: 'Roboto', sans-serif;
    background: #F5F5F5;
    font-size: 14px;
}

#grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 350px));
    grid-template-rows:  repeat(auto-fill, minmax(100px, 300px));
    grid-gap: 2vw;
}
#grid > div {
    font-size: 14px;
    padding: 1em;
    text-align: center;
    border: 2px solid black;
}
.grid-img {
    margin-top: 10px;
}

.loader {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    animation: prixClipFix 2s linear infinite ;
  }

  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }

#loader{
    position: absolute;
    margin-left: 44%;
    margin-top: 260px;
}